# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Uploads (VERY IMPORTANT in your project)
uploads/
public/uploads/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build output
dist/
build/

# Optional
.vscode/
.idea/